$primary-background-color: red;
$primary-font-color:  rgb(91, 13, 13);
$box-font:'Courier';
$primary-font : 'Arial';
$secondary-font : 'Helvetica';
$box-shadow-custom : -8px 10px 5px 0px rgba(0,0,0,0.75);
$border-radius-custom : 0em;
$font-weight-secondary:700;
$font-spacing-secondary:2px;
