$primary-background-color: blue;
$primary-font-color: darkblue;
$box-font:'sans-serif';
$primary-font : 'Georgia';
$secondary-font : 'Georgia';
$box-shadow-custom :  10px 10px 5px 0px rgba(0,0,0,0.75);
$border-radius-custom : 0.5em;
$font-weight-secondary:0;
$font-spacing-secondary:0;